{% extends "base.html" %}

{% block style %}
<style>

    .link{
        text-decoration:none;
        color:purple
    }
</style>
    {% endblock style %}

{% block body %}
    <h1>Profile</h1>

    Username : {{user.username}}
    <br>
    Email : {{user.email}}
    <br>
    Date Joined : {{user.date_joined}}
    <br>
    Last Updated : {{user.last_updated}}
    <br>
    <a href="{% url "dashboard" %}" class="link">Dashboard</a>
    <br>
    <a href="{% url "logout" %}" class="link">Log Out</a>

{% endblock body %}