{% extends "base.html" %}

{% block style %}
<style>
    .box{
        border-radius:20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        align-items:center;
        justify-content:center;
        padding:30px;
        margin: 40px auto;
        width:20vw
    }
    .link{
        text-decoration:none;
        color:purple
    }
</style>
{% endblock style %}


{% block body %}
<div class="box">
    <h1>Reset Password</h1>

    <form action="" method='POST'>
        {% csrf_token %}
      
        {% for field in form %}
        {{field.label_tag}}
        <br>
        {{field}}
        <br>
        <p style="color: red;">
            {{ field.errors|striptags }}
        </p>
        <br>
        {% endfor %}
        <button type='submit'>Submit</button>
    </form>

</div>
{% endblock body %}